// $breakpoint: (
//     phone: 480px,
//     tablet:768px,
//     desktop: 1200px,
// );
.container {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
}
    

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;

        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        justify-content: center;
    }
}


 

 

