// .clients__icons {
//     margin-top: 50px;
//     display: flex;
//     justify-content: space-between;
//     justify-content: center;
//     gap: 30px;
//     margin: 0;
//     margin-bottom: 94px;
//     padding: 0;
// }


.clients__title {
    margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
    .clients {
        padding-top: 60px;
        padding-bottom: 60px;

    }
}
@media screen and (min-width: 1200px) {
    .clients {
        padding-top: 94px;
        padding-bottom: 94px;

    }
}
@media screen and (min-width: 768px) {
    .clients__title {
        margin-bottom: 30px;
        font-size: 28px;

    }
}
@media screen and (max-width: 479px) {
    .clients__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 480px) {
    .clients__icons {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .clients__icons {
        margin-top: 50px;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 30px;
    }
}
.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: border 250ms $cubic, fill 250ms $cubic;

&:hover,
&:focus {
        border: 1px solid $accent-color;
        fill: $accent-color;
    }
}
@media screen and (min-width: 480px) {
    .clients__link {
        width: 210px;
        height: 92px;
    }
}
 

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}



 @media screen and (min-width: 1200px) {
     .clients__link {
         width: 170px;
         height: 92px;
     }
 }
        
