.menu-toggle {
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    

}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}


.mobile-close {
    display: none;
}

.mobile-close:hover,
.mobile-close:focus {
    fill: $accent-color;
}

.mobile-menu:hover,
.mobile-menu:focus {
    fill: $accent-color;
}

.js-close-menu .mobile-close {
    display: block;

   
}

.js-close-menu .mobile-menu {
    display: none;
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    background-color: #fff;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateY(0);
}

.mobile-navigation__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    margin-bottom: 35px;
}
.mobile-navigation__link--active {
    color: $accent-color;
}
.mobile-navigation__item {
    text-decoration: none;
margin-bottom: 35px;
}

.mobile-social__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.mobile-social__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 64px;
}

.mobile-social__item:not(:last-of-type) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}


@media screen and (min-width: 320px) {
    .contact__item {
        display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            color: #757575;
            margin-bottom: 32px;
    }
}
.mobile-contact__link {
    font-size: 24px;
    color: #757575;
    margin-bottom: 32px;
    text-decoration: none;
}

.mobile-contact__link--accent {
    font-size: 24px;
    color: #2196f3;
    margin-bottom: 32px;
    text-decoration: none;
}
 