
.menu-toggle {
display: inline-flex;
margin: 0;
padding: 0;
background-color: transparent;
cursor: pointer;
border: none;
    
}


@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-close {
    display: none;
}

.mobile-close:hover,
.mobile-close:focus {
    fill: $accent-color;
}

.mobile-menu:hover,
.mobile-menu:focus {
    fill: $accent-color;
}

.js-close-menu .mobile-close {
    display: block;  
}
.js-close-menu {
    position: absolute;
    top: 21px;
    right: 21px;
}


.js-close-menu .mobile-menu {
    display: none;
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-top: 48px;
    background-color: $third-color;
    z-index: 999;
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateY(0);
}


.mobile-navigation__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
}
.mobile-navigation__link--active {
    color: $accent-color;
}


.mobile-navigation__list {
    margin-bottom: auto;
}
.mobile-navigation__item {
    text-decoration: none;
    margin-bottom: 32px;
}
.mobile-navigation__item:last-child {
    margin-bottom: 0;
}



.mobile-social__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.mobile-social__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 64px;
    
}


.mobile-social__item:not(:last-of-type) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
}


@media screen and (max-width: 767px) {
    .contact__item {
        display: block;
        text-decoration: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: $second-color;
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 767px) {
.contact__item:last-child {
    margin-bottom: 0;
}
}
.mobile-contact__link {
    font-size: 24px;
    color: $second-color;
    text-decoration: none;
}
.mobile-contact__link--accent {
    font-size: 34px;
    color: #2196f3;
    text-decoration: none;
}

