.contact__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
    gap: 50px;
}
@media screen and (max-width: 767px) {
    .contact__list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .contact__list {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        gap: 10px;
    }
}
@media screen and (min-width: 1200px) {
    .contact__list {
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
}
.contact__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $second-color;
    fill: $second-color;
    transition: color 250ms $cubic, fill 250ms $cubic;
   
    &:hover,
    &:focus {
            color: $accent-color;
            fill: $accent-color;
        }
}

.contact__icon {
    margin-right: 10px;
}



