.navigation {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;

    }
}
 @media (min-width: 1200px) {
    .nav {
      display: flex;
       justify-content: space-between;
        align-items: center;
    }
}
 @media (min-width: 768px) {
     .nav {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
 }

.navigation__list {

    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 50px;
}
@media screen and (max-width: 767px) {
    .navigation__list {
        display: none;
    }
}

.navigation__link {
    display: block;
    padding: 32px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
    color: #2196f3;
}


.navigation__link--current {
    position: relative;
    color: #2196f3;
    padding: 32px 0;
    
}

.header__line::after {
 content: " ";
position: absolute;
 width: 100%;
height: 4px;
left: 0;
bottom: 0;
background-color: #188ce8;
border-radius: 2px;
}


    








