body {
    box-sizing: border-box;
    margin: 0;
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $main-color;
    background-color: $third-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: $accent-color;
    transition: color 250ms $cubic;
}
.section-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $main-color;
}

@media screen and (min-width: 1200px) {
    .section {
    padding-top: 94px;
    padding-bottom: 94px;
}
}