.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background: #2f303a;

    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 767px) {
    .hero { 
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-description-bg.img.jpg);
    }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (max-width: 767px) and (min-resolution: 192dpi),
screen and (max-width: 767px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-description-bg.img.jpg);
    }
}
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-description-bg.img.jpg);
    }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-description-bg.img.jpg);
    }
}
@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-description-bg.img.jpg);
    }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-description-bg.img.jpg);
    }
}
.hero__container {
    display: block;
}



.hero__title {
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: (calc 60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $third-color;
}


