.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 32px;

    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: $third-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;
    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
            background: $secondary-accent;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }
}

@media screen and (max-width: 1199px) {
    .hero-button {
        padding: 10px 24px;
    }
}
       
