.address {
    font-style: normal;
    gap: 9px;
    margin-bottom: 60px;
    text-align: center;
}
@media screen and (min-width: 1200px) {
    .address {
        text-align: start;
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 768px) {
            .foot__address {
                margin-right: auto;
                margin-left: 76px;
            }
        }
    
@media screen and (min-width: 1200px) {
            .foot__address {
                margin: 0px;

            }
        }
.address__link {
    line-height: 1.7;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms $cubic;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.address__link--color-white {
    color: $third-color;}

.adress__contact {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
            color: $accent-color;
    }
}