.footer__studio {
    color: $third-color;
}

.footer__logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: $accent-color;
}

@media screen and (min-width: 1200px) {
    .footer__logo {
        text-align: start;
    }
}